* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 800px;
    height: 400px;
    border: 2px solid blue;
    margin: auto;
    position: relative;
    overflow: scroll;
}

.container .box {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 0, 0, 1);
}

.container .box:first-child {
    position: relative;
    left: 50px;
    top: 20px;
    background-color: yellow;
}

.container .box:nth-child(2) {
    position: absolute;
    left: 80px;
    top: 20px;
    background-color: rgba(0, 0, 255, 0.5);
}

.container .box:nth-child(3) {
    position: fixed;
    right: 0;
    top: 50vh;
}

.container .box:nth-child(5) {
    position: sticky;
    top: 10px;
    background-color: black;
    color: white;
}