body {
    margin: 0;
}
.carousel {
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

img:hover{
    cursor: pointer;
}
button{width: 15px;
    height: 15px;
    border-radius: 50%;
    gap:20px
}
button:hover{
    cursor: pointer;
    background-color: #5F5F5F;
    color: white;
transition: all ease-in-out 0.3s;
}
button:active{
    transform: scale(0.9);
    transition: all ease-in-out 0.3s;
}
.btnSelected{
    background-color: #5F5F5F;
    color: white;
    transition: all ease-in-out 0.3s;
}
.btnBar{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap:10px
}
.nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.btnNav{
    background-color: rgba(81,81,0,0.4);
    color: rgba(134,134,139,0.8);
    font-size: 25px;
    transition: all linear 0.3s;
}
.btnNav button{
    border-radius:10%;
}