body{
    box-sizing: border-box;
    margin: 0;
    width: 1440px;
}
#container{
    width: 1000px;
    margin: auto
}
#img{
    width: 1000px;
}
#button{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.smallBtn{
    margin: 0 20px;
    width: 15px;
    height: 15px;
    display: inline;
    border: 1px black solid;
    background-color: #eef2f5;
    border-radius: 50%;
}
.smallBtn:hover{
    cursor: pointer;
    background-color: #5F5F5F;
    transition: all ease-in-out 0.3s;


}
.smallBtn:active{
    transform: scale(0.9);
    transition: all ease-in-out 0.3s;
}
