
body{
    background-image: url("1李雪薇5821.JPG")
;background-size: cover;
}
.header {
    display: flex;
}
.resume{
    background-color: black;
    color: aliceblue;
width: 300px;
height: 50px;
    font-size: 85px;
    padding-left: 30px;
    padding-right: 0;
}
.menu, .menuItem{
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    background-color:0;
    color: aliceblue;
}
.menu{margin-left: 60px}
h1{position: relative;
top:100px;
left: 40px;}
.hoststyle{
    position: relative;
    top:50px;
}
h3{
    position: relative;
    left: 40px;
}
button{font-size: 30px;
border: 2px solid #180101;
    border-radius: 10px;
    color: beige;
    background-color: #180101;
}
button{
    position: relative;
    top: 60px;
    left: 30px;
}
.cv{
    position: absolute;
    left: 640px;
    top: 350px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid #021c2e;
    border-radius: 15px;
    background-color: #cdb3a0;
}
.birthinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #01070d;
    vertical-align: middle;
}
.info1{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #557893;
    margin-left: 15px;
    vertical-align: center;
}
