* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: white;
}

.panel {
    height: 300px;
    width: 500px;
    /*position: absolute;*/
    border-radius: 10px;
    /*right: 15px;*/
    /*top: 14px;*/
    border: 4px solid #608094;
    background: #16394c;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.panel .row:nth-child(2), .panel .row:nth-child(3) {
    height: 30%;
    width: 100%;
}

.panel .row:nth-child(2) {
    display: flex;
    align-items: center;
}
.panel .row:nth-child(3) {
    display: flex;
    align-items: center;
}

.col {
    height: 100%;
    width: 33.33333%;
}

.first-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-col div {
    margin-top: -5px;
}

.mid-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
}
.day {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 16.666%;
}
.day1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.day2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.day3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.day4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.day5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.day6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
