header{
  height: 15vh;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.container{
  background-color: aquamarine;
}

footer{
  height: 25vh;
  background-color: purple;
  display: flex;
}