body{
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    transition: all ease-in-out 0.3s;
}

.searchBar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;

}
#carousel{
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.1);
    position:absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease-in-out 0.3s

}

#carousel:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
}
#gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    position:absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease-in-out 0.3s

}
#gallery:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);

}
.nav{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}
.btn{
    background-color: ;
    color: ;
    border: ;
    font-size: 25px;
    font-weight: 600;
}
#gallery div{
    margin: 0 5px;
    width: 130px;
    height: 90px;
    border-radius: 10px;
    background-size: cover;
    border: 1px solid rgba(200,200,200,0.3);
    opacity: 0.8;

}
#gallery div:hover{
    z-index: 2;
    transform: scale(1.2 ) translateY(-20px);
    transition: all ease-in-out;
    opacity: 1;
    cursor: pointer;
}

.imgContainer{
    width: 130px;
    height: 90px;
}
#input{
    border: none;
    box-shadow:0 1px 2px 0 rgb(0 0 0/0.05) ;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.6);
    opacity: 0.6;
    transition: all ease-in-out 0.3s;
    color:black;
    outline: 1px solid gray;
}
#input:focus{
    outline: 1px solid #6e6e6e;
    box-shadow:0 1px 2px 0 rgb(0 0 0/0.05) ;
    transition: all ease-in-out 0.3s;
}
#input:hover{
    opacity: 1;
    outline:1px solid #6e6e6e; ;
    transition: all ease-in-out 0.3s;
}
#search{
    border: none;
    box-shadow:0 1px 2px 0 rgb(0 0 0/0.05) ;
    padding: 10px;
    font-size: 14px;
    margin: 0 10px;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.6);
    opacity: 0.6;
    transition: all ease-in-out 0.3s;
    color:black;
    outline: 1px solid gray;
}
#search:hover{
    opacity: 0.8;
    transform: scale(1.02);
    cursor: pointer;

}
.selected{
    border: 4px solid rgba(255,255,255,0.7) !important;
}
