body{
    box-sizing: border-box;
    border: 0px;
    width: 800px;
}
h1{
    width: 800px;
    margin: auto;
    padding-left: 350px;
}
#container{
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: yellow;
}