
body{
    margin: 0;
    background-size: cover;
}
.imgContainer{
    width: 130px;
    height: 90px;
}
.carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease-in-out 3s;

}
.carousel div{
    margin: 0 5px;
    width: 130px;
    height: 90px;
    border-radius: 10px;
    background-size: cover;
    border: 1px solid rgba(200,200,200,0.3);
    opacity: 0.8;
}
.carousel div:hover{
    border-radius: 10px;
    z-index: 2;
    transform: scale(1.2) translateY(-20px);
    border: 1px solid rgba(200,200,200,0.3);
    opacity: 1;
}
.carousel:hover{
    cursor: pointer;
background-color: rgba(255,255,255,0.3);
}
.searchBar{
    position: absolute;
    left: 50%;
    transform: translateX(-50);
    top: 30%;

}
#inputCity{
    border: none;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.05) ;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.6);
    opacity: 6;
    transition: all ease-in-out 0.3s;
    color: #180101;
    outline: 1px solid grey;
}
#inputCity:focus{
    outline: 1px solid #6e6e6e;
    box-shadow: inset 0 2px 4px 0 rgb(0,0,0/0.05);
    transition: all ease-in-out 0.3s;
}
#inputCity:hover{
    opacity: 1;
    outline: 1px solid #241b1b;
    box-shadow: inset 0 2px 4px 0 rgb(0,0,0/0.05);
    transition: all ease-in-out 0.3s;
}
#btnSearch{
    border: none;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.05) ;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    border-radius: 10%;
    background-color: rgba(255,255,255,0.6);
    opacity: 6;
    transition: all ease-in-out 0.3s;
    color: #180101;
    outline: 1px solid grey;
}
#btnSearch:hover {
    opacity: 0.8;
    transform: scale(1.02);
    cursor: pointer;

}