h2 {
    color: red;
}

h3 {
    background-color: blueviolet;
}

li {
    color: red;
}

/*/the most used way to introduce css styling/*/
.firstListItem {
    font-size: 20px;
    text-decoration: underline;
}

#fourthListItem {
    font-weight: 800;
    color: rgba(8, 36, 49, 0.5);
}

.specialStyle {
    color: red;
    background-color: yellow;
}